@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@800&display=swap');

*{
    margin: 97px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: radial-gradient(circle at 50% -20.71%, #d7c35d 0, #deba54 8.33%, #e4b04d 16.67%, #e9a546 25%, #ed9841 33.33%, #f0893e 41.67%, #f2793c 50%, #f3673d 58.33%, #f35542 66.67%, #f34249 75%, #f22b52 83.33%, #f0065d 91.67%, #ec0069 100%);
}

P {
    text-align: center;
    justify-content: center;
    font-size: 1.3em;
    line-height: 1.5;
    color: #000000;
    font-family: 'lora' serif;
    font-weight: 600;
    margin-bottom: 20px;
}
